*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(asd.png) no-repeat;
    background-position: relative;
    height: 1280px;
    width: 720px;
}

.laman .one{
    position: absolute;
    border-radius: 11%;
    overflow: hidden;
    top: 693px;
    left: 138px;
}

.laman .two{
    position: absolute;
    border-radius: 11%;
    overflow: hidden;
    top: 693px;
    left: 230px;
}

.laman .three{
    position: absolute;
    border-radius: 11%;
    overflow: hidden;
    top: 693px;
    left:322px;
}

.laman .for{
    position: absolute;
    border-radius: 11%;
    overflow: hidden;
    top: 693px;
    left: 414px;
}

.laman .five{
    position: absolute;
    border-radius: 11%;
    overflow: hidden;
    top: 693px;
    left: 506px;
}

.laman .six{
    position: absolute;
    border-radius: 11%;
    overflow: hidden;
    top: 780px;
    left: 138px;
}

.laman .seven{
    position: absolute;
    border-radius: 11%;
    overflow: hidden;
    top: 780px;
    left: 230px;
}

.laman .eight{
    position: absolute;
    border-radius: 11%;
    overflow: hidden;
    top: 780px;
    left:322px;
}

.laman .nine{
    position: absolute;
    border-radius: 11%;
    overflow: hidden;
    top: 780px;
    left: 414px;
}

.laman .ten{
    position: absolute;
    border-radius: 11%;
    overflow: hidden;
    top: 780px;
    left: 506px;
}

.laman .salas{
    position: absolute;
    border-radius: 11%;
    overflow: hidden;
    top: 865px;
    left: 138px;
}

.laman .walas{
    position: absolute;
    border-radius: 11%;
    overflow: hidden;
    top: 865px;
    left: 230px;
}

.laman .galas{
    position: absolute;
    border-radius: 11%;
    overflow: hidden;
    top: 865px;
    left:322px;
}

.laman .palas{
    position: absolute;
    border-radius: 11%;
    overflow: hidden;
    top: 865px;
    left: 414px;
}

.laman .malas{
    position: absolute;
    border-radius: 11%;
    overflow: hidden;
    top: 865px;
    left: 505px;
}

